* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.limitar-secao {
  width: 100%;
  margin: 0 auto;
  max-width: 1024px;
}

.titulo {
  font-size: 100px;
  color: #fff;
  text-shadow: 3px 5px 2px #474747;
  text-align: center;
}

@media screen and (max-width: 768px){
  .titulo {
    font-size: 60px;
  }  
} 